<div class="container">
<!--
	<div class="page-header">
		<h1>BFAMFAPHD.com
			<small>Apply to Join Forces</small>
		</h1>
	</div>
-->
	<div class="jumbotron">
			<div class="question-group">
				<form>
					<p>Remember this: reporting on the census in 2008, The New York Times noticed that "if all artists in America's workforce banded together, their ranks would be double the size of the United States Army." BFAMFAPHD.com visualizes the number of students graduating with creative degrees, generates dialog about our collective power, and elicits proposals for organizing efforts.</p>
					<p><input type="submit" value="Apply" class="btn btn-primary btn-lg" role="button"/></p>	
			</form>
		</div>
	</div>
</div>


<div class="survey-questions hidden">
	<% user = User.create %>

	<div id="question-email" class="question-group email">
		<%= validated_form_for(user) do |f| %>
			<label>What is your name?</label>
				<input class="form-control" type="text" id="user_name" name="user[full_name]" parsley-trigger="changed" required>
			<label>What is your email?</label>
			<p>Entering your email will allow us to contact you with news and information.</p>
			<div class="form-group">
				<input class="form-control" type="email" id="user_email" name="user[email]" parsley-trigger="changed" required>
				<%= f.submit "Next", class: "btn btn-primary" %>
			</div>

		<% end %>
	</div>

	<% qid = 24 %>
	<div id="question-<%= qid %>" class="question-group <%= qid %>">
		<% q = Question.find( qid ) %>
		<% r = Response.new %>
		<%= form_for(r) do |f|%>
			<%= f.hidden_field :user_id, value: user.id %>
			<%= f.hidden_field :question_id, value: qid %>

			<label><%=q.query%></label>
			<%= f.text_field :string_val, class: 'form-control', required: "" %>

			<input type='button' class='btn btn-link' value='Back' name='Back'/>
			<%= f.submit "Next", class: "btn btn-primary" %>
		<% end %>
	</div>

	<% qid = 20 %>
	<div id="question-<%= qid %>" class="question-group <%= qid %>">
		<% q = Question.find( qid ) %>
		<% r = Response.new %>
		<%= validated_form_for(r) do |f| %>
			<%= f.hidden_field :user_id, value: user.id %>
			<%= f.hidden_field :question_id, value: qid %>

			<label><%= q.query %></label>
			<div class="input-group">
				<input type="checkbox" name="response[array_val][]" value="Associates"/>
				<label>Associates</label>
			</div>
			<div class="input-group">
				<input type="checkbox" name="response[array_val][]" value="BA"/>
				<label>BA</label>
			</div>
			<div class="input-group">
				<input type="checkbox" name="response[array_val][]" value="BFA"/>
				<label>BFA</label>
			</div>
			<div class="input-group">
				<input type="checkbox" name="response[array_val][]" value="MFA" />
				<label>MFA</label>
			</div>
			<div class="input-group">
				<input type="checkbox" name="response[array_val][]" value="PhD"/>
				<label>PhD</label>
			</div>
			<div class="input-group">
				<input type="checkbox" name="response[array_val][]" value="home school"/>
				<label>home school</label>
			</div>
			<div class="input-group">
				<input type="checkbox" name="response[array_val][]" value="apprenticeship"/>
				<label>apprenticeship</label>
			</div>
			<div class="input-group">
				<input type="checkbox" name="response[array_val][]" value="alternative school"/>
				<label>alternative school</label>
			</div>
			<div class="input-group">
				<input type="checkbox" name="response[array_val][]" value="freedom school"/>
				<label>freedom school</label>
			</div>
			<div class="input-group">
				<input type="checkbox" name="response[array_val][]" value="non-degree-granting school" />
				<label>non-degree-granting school</label>
			</div>

			<input type='button' class='btn btn-link' value='Back' name='Back'/>
			<%= f.submit "Next", class: "btn btn-primary" %>
		<% end %>
	</div>


	<% qid = 21 %>
	<div id="question-<%= qid %>" class="question-group <%= qid %>">
		<% q = Question.find( qid ) %>
		<% r = Response.new %>
		<%= validated_form_for(r) do |f|%>
			<%= f.hidden_field :user_id, value: user.id %>
			<%= f.hidden_field :question_id, value: qid %>

			<label><%=q.query%></label>

			<div class="input-group">
				<input type="checkbox" name="join-a-group"/>
				<label>Join a BFA MFA PHD working group</label>
			</div>
			<div id="working-group-questions" class="sub-form">
				<div class="input-group">
					<input type="checkbox" name="response[array_val][]" value="facilitating dialog"/>
					<label>facilitating dialog online and at events</label>
				</div>

				<div class="input-group">
					<input type="checkbox" name="response[array_val][]" value="corresponding with prospective members"/>
					<label>corresponding with prospective members</label>
				</div>

				<div class="input-group">
					<input type="checkbox" name="response[array_val][]" value="eliciting proposals for mobilizing"/>
					<label>eliciting proposals for mobilizing (artist union, buying a building, etc.)</label>
				</div>

				<div class="input-group">
					<input type="checkbox" name="response[array_val][]" value="mobilizing creative people"/>
					<label>mobilizing creative people</label>
				</div>

				<div class="input-group">
					<input type="checkbox" name="response[array_val][]" value="producing video"/>
					<label>producing video</label>
				</div>

				<div class="input-group">
					<input type="checkbox" name="response[array_val][]" value="furniture design and production"/>
					<label>furniture design and production</label>
				</div>

				<div class="input-group">
					<input type="checkbox" name="response[array_val][]" value="graphic design and data visualization"/>
					<label>clothing design and production</label>
				</div>

				<div class="input-group">
					<input type="checkbox" name="response[array_val][]" value="data colllection and analysis"/>
					<label>data collection and analysis</label>
				</div>
				
				<div class="input-group">
					<input type="checkbox" name="response[array_val][]" value="web design and computer engineering"/>
					<label>web design and computer engineering</label>
				</div>
				<div class="input-group">
					<input type="checkbox" name="response[array_val][]" value="other"/>
					<label>other (propose a group on next page)</label>
				</div>

			</div>
				
			<div class="input-group">
				<input type="checkbox" name="response[array_val][]" value="pool-money"/>
				<label>Pool money to buy a building with a group to form a school</label>
			</div>

			<input type='button' class='btn btn-link' value='Back' name='Back'/>
			<%= f.submit "Next", class: "btn btn-primary" %>
		<% end %>
	</div>
	<% #fears and aspirations related to group work %>
	<% qid = 22 %> 
	<div id="question-<%= qid %>" class="question-group <%= qid %>">
		<% q = Question.find( qid ) %>
		<% r = Response.new %>
		<%= validated_form_for(r) do |f| %>
			<%= f.hidden_field :user_id, value: user.id %>
			<%= f.hidden_field :question_id, value: qid %>

			<label><%= q.query %></label>
			<%= f.text_area :text_val, 
														class: "form-control",
														"rows" => "3",
														"parsley-maxwords"=>"500" %>

			<%= f.submit "Next", class: "btn btn-primary" %>
		<% end %>
	</div>

	<% qid = 23 %> 
	<div id="question-<%= qid %>" class="question-group <%= qid %>">
		<% q = Question.find( qid ) %>
		<% r = Response.new %>
		<%= validated_form_for(r) do |f| %>
			<%= f.hidden_field :user_id, value: user.id %>
			<%= f.hidden_field :question_id, value: qid %>

			<label><%= q.query %></label>
			<%= f.text_area :text_val, 
														class: "form-control",
														"rows" => "3",
														"parsley-maxwords"=>"500" %>

			<%= f.submit "Next", class: "btn btn-primary" %>
		<% end %>
	</div>

	<div id="question-thanks" class="question-group thanks">
		<h2>Thank you!</h2>

		<p>You will be contacted by March 10th with information about pooling money, working groups, and your involvement in BFAMFAPHD.com. Please join us on February 2nd at <a href="http://www.queensmuseum.org/events/qm-studio-artist-caroline-woolard-hosts-open-house-for-new-project-bfamfaphd-com/">The Queens Museum of Art</a> for an open house. You will help shape the direction of BFAMFAPHD.com, meet members of the data visualization working group, and see BFAMFAPHD.com in action.</p>
	</div>


</div>
