<div class="container">
	<div class="page-header">
		<h1>BFAMFAPHD.com
			<small>Artist Application</small>
		</h1>
	</div>
	<div class="jumbotron">
			<div class="question-group">
				<form>
					<h2>So you want to join forces?</h2>
					<p>We have a few questions for you. Click below to get started.</p>
					<p><input type="submit" value="Get Started" class="btn btn-primary btn-lg" role="button"/></p>	
			</form>
		</div>
	</div>
</div>


<div class="survey-questions hidden">
	<% user = User.create %>

	<div id="question-email" class="question-group email">
		<%= validated_form_for(user) do |f| %>
			<%= f.label "What is your email?" %>
			<p>Entering your email will allow us to contact you with news and information about this project.</p>
			<div class="form-group">
				<input class="form-control" type="email" id="user_email" name="user[email]" parsley-trigger="keyup" required>
				<%= f.submit "Save Email", class: "btn btn-primary" %>
			</div>

		<% end %>
	</div>

	<% qid = 5 %>
	<div id="question-<%= qid %>" class="question-group <%= qid %>">
		<% q = Question.find( qid ) %>
		<% r = Response.new %>
		<%= validated_form_for(r) do |f| %>
			<%= f.hidden_field :user_id, value: user.id %>
			<%= f.hidden_field :question_id, value: qid %>

			<%= f.label q.query %>
			<%= f.text_field :int_val, 
											class: "form-control",
											"parsley-type"=>"number",
											"parsley-trigger"=>"keyup" 
				%>
			<%= f.submit "Next", class: "btn btn-primary" %>
		<% end %>
	</div>


	<% qid = 2 %>
	<div id="question-<%= qid %>" class="question-group <%= qid %>">
		<% q = Question.find( qid ) %>
		<% r = Response.new %>
		<%= validated_form_for(r) do |f|%>
			<%= f.hidden_field :user_id, value: user.id %>
			<%= f.hidden_field :question_id, value: qid %>

			<%= f.label q.query %>

			<%= f.label "yes" %>
			<%= f.radio_button :string_val,
													"yes"%>
			<%= f.label "no" %>
			<%= f.radio_button :string_val,
													"no"%>
			<%= f.submit "Next", class: "btn btn-primary" %>
		<% end %>
	</div>


	<% qid = 7 %>
	<div id="question-<%= qid %>" class="question-group <%= qid %>">
		<% q = Question.find( qid ) %>
		<% r = Response.new %>
		<%= validated_form_for(r) do |f|%>
			<%= f.hidden_field :user_id, value: user.id %>
			<%= f.hidden_field :question_id, value: qid %>

			<%= f.label q.query %>

			<%= f.label "yes" %>
			<%= f.radio_button :string_val,
													"yes"%>
			<%= f.label "no" %>
			<%= f.radio_button :string_val,
													"no"%>
			<%= f.submit "Next", class: "btn btn-primary" %>
		<% end %>
	</div>


	<% qid = 14 %>
	<div id="question-<%= qid %>" class="question-group <%= qid %>">
		<% q = Question.find( qid ) %>
		<% r = Response.new %>
		<%= form_for(r) do |f|%>
			<%= f.hidden_field :user_id, value: user.id %>
			<%= f.hidden_field :question_id, value: qid %>

			<%= f.label q.query %>
			<%= f.text_field :int_val %>
			<%= f.submit %>
		<% end %>
	</div>

	<% qid = 13 %>
	<div id="question-<%= qid %>" class="question-group <%= qid %>">
		<% q = Question.find( qid ) %>
		<% r = Response.new %>
		<%= form_for(r) do |f|%>
			<%= f.hidden_field :user_id, value: user.id %>
			<%= f.hidden_field :question_id, value: qid %>

			<%= f.label q.query %>
			<%= f.text_field :int_val %>
			<%= f.submit %>
		<% end %>
	</div>

</div>
